// COLORS VARS
$white: #FFFFFF;
$dark: #020304;
$primary-pink: #E8A5BB;
$primary-green: #94B522;
$dark-green: #225E2E;
$green: #348744;
$primary-yellow: #F3C10B;
$light-back: #F0F1F5;
$back: #E9EEEA;
$grey: #8F8F8F;
$red: #D8514B;
$blue: #0758B1;